name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: main

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: true

      - name: Gradle build
        run: ./gradlew build

      - name: Get Project Version
        id: get_version
        run: |
          VERSION=$(./gradlew -q printVersion)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create Github release
        # v1.2.0
        uses: ncipollo/release-action@5f55df31e10e67a2ef62ea8f3fa1b926cee6f8b1
        with:
          tag: ${{ steps.get_version.outputs.version }}
          bodyFile: RELEASE_NOTES.md
          draft: true
          artifacts: "app/build/outputs/apk/release/app-release.apk"
